@model QLBanDongHo60135761.Models.QuanTriVien
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>THÔNG TIN ĐĂNG NHẬP</h2>
            </div>

            <div class="card-body" style="font-size: 16px;">
                @using (Html.BeginForm("DangNhap", "Clients_60135761", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Đăng nhập" style="width: 120px;" />
                    </div>

                }

            </div>

        </div>
    </div>
    <p style="color: red; width: 80%; display:inline-block; font-size: 16px;">@ViewBag.error</p>
</div>

