@model IEnumerable<QLBanDongHo60135761.Models.QuyenDangNhapNhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DANH SÁCH QUYỀN ĐĂNG NHẬP</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary", @style = "width: 120px;" })
</p>
<table class="table table-bordered">
    <tr style="font-size: 16px; background-color: #E0FFFF; ">
        <th>
            Mã quyền đăng nhập
        </th>
        <th>
            Tên quyền đăng nhập
        </th>
        <th>
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="font-size: 16px;">
            <td>
                @Html.DisplayFor(modelItem => item.MaQuyenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenQuyenDangNhap)
            </td>
            <td>
                @Html.ActionLink("Cập nhật", "Edit", new { id = item.MaQuyenDangNhap }, new { @class = "btn btn-success", @style = "width: 120px;" })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaQuyenDangNhap }, new { @class = "btn btn-info", @style = "width: 120px;" })
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaQuyenDangNhap }, new { @class = "btn btn-danger", @style = "width: 120px;" })
            </td>
        </tr>
    }

</table>
