@model QLBanDongHo60135761.Models.CTHDB

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTHDB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DongHo.TenDongHo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DongHo.TenDongHo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoaDonBan.TenNguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoaDonBan.TenNguoiNhan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
